*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
    margin: 20px auto;
    color: #482cf9;
}
.main div{
    background-color: #f9f5f5;
    padding: 10px 60px;
    margin: 2px;
    border: 1px solid #dfb083;
    border-radius: 20px;
    width: 25rem;
    text-align: center;
}

.main span{
    display: inline-block;
    font-weight: bold;
    margin: 5px;
    font-size: 23px;
}

.main ul li{
    border: 1px solid #c9792a;
    border-radius: 10px;
    padding: 10px 60px;
    margin: 2px auto;
    background-color: #d4d4e3;
    width: fit-content;
}

.secondary-div ul li{
    text-align: left;
    width: 80%;
    padding: 10px;
    list-style: circle;
}

.secondary-div ul li ul li{
    width: fit-content;
    padding-right: 80px;
    margin-left: 50px;
}