*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-div{
    background-color: #f0f8ff;
    border: 2px solid #b2a4fce1;
    width: fit-content;
    border-radius: 15px;
    margin: 50px auto;
    display: flex;
}

.main-div div{
    background-color: #e1e5fe;
    border: 2px solid #7460f9dd;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 10px;
    width: 55%;
    /* text-align: center; */
}